flask
flask-socketio

#eventlet
gevent
gevent-websocket

mistralai
together
openai
openai[datalib]
groq
tiktoken

#llama-cpp-python[server]

# sqlite
Flask-SQLAlchemy
Flask-Migrate

boto3

pyyaml

# if you want to plot charts.
matplotlib
numpy
