{% extends "base.html" %}

{% block title %}Search Results{% endblock %}

{% block content %}
<div id="search-results">
    {% if error %}
        <div class="search-result">{{ error }}</div>
    {% elif results %}
        {% for result in results %}
            <div class="search-result">
                <a href="/chat/{{ result.room_name }}?username={{ username }}">
                    <b>{{ result.room_name }}</b> ({{ result.room_title or "No title" }})<br>
                    <b>Snippets:</b> {{ result.snippets | join(' ... ') }}<br>
                    <b>Score:</b> {{ result.score }}
                </a>
            </div>
            <br/>
        {% endfor %}
    {% else %}
        <div class="search-result">No results found.</div>
    {% endif %}
</div>
{% endblock %}
